/*.noSpace, .row, .col, .p {*/
/*  padding: 0 !important;*/
/*  margin: 0 !important;*/

/*}*/

/*.row{*/
/*@extend .noSpace;*/
/*}*/
/*.col{*/
/*@extend .noSpace;*/
/*}*/

/*p {*/
/*@extend .noSpace;*/

/*}*/

.title{
  font-weight: 400 !important;
}



.noselect{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.rounded{
  border-radius: 12px !important
}

.innerScroll{
  overflow: scroll;
  max-height: 70vh;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}


.pointer{
  cursor: pointer
}

.grabbable{
  cursor: move; /*fallback if grab cursor is unsupported*/
  cursor: grab;
}


  /* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active{
  cursor: grabbing
}
